*{
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
    font-family: Arial;
    color:#333333;
    font-size: 12px;
}
.clear_fix{
    content:' ';
    display:table;
    clear: both;
}
.container{
    width: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    background-color: #efefef;
}
.wrapper{
    width: 960px;
    padding: 50px 20px;
    position: relative;
    margin: 0px auto;
    background-color: #ffffff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.content{
    width: 600px;
    margin: 0px auto;
}
.wrapper:after{
    content:' ';
    display:table;
    clear: both;
}
h1,h2{
    padding: 10px 0px;
}
.form_group{
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.form_group label{
    display: block;
    padding: 5px;
}
.form_group input{
    display: block;
    padding: 9px;
    border:1px solid #dddddd;
    border-radius: 3px;
    color:#666666;
    font-size: 14px;
}
.form_group.check label,.form_group.check input{
    display: inline-block;
    margin-left: 15px;
}
.success,.failed{
    font-size: 12px;
    padding: 5px;
}
.success{
    color:green;
}
.failed{
    color:red;
}
.left{
    width: 30%;
    float:left;
}
.right{
    width: 69%;
    float:right;
}
    ul.main-navigation{
        list-style: none;
    }
        ul.main-navigation li{
            list-style: none;
            margin-bottom: 2px;
        }
            ul.main-navigation li a{
                display: block;
                border:1px solid #dddddd;
                padding: 3px 7px;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                background-color: #efefef;
            }
            ul.main-navigation li ul{
                margin-left: 40px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
                ul.main-navigation li ul li a{
                    border:0px;
                    border-bottom:1px solid #dddddd;
                    font-weight: normal;
                    font-size: 12px;
                    background-color: #ffffff;
                }
table{
    border-top:1px solid #dddddd;
    border-left:1px solid #dddddd;
}
table tr td,table tr th{
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}
table tr td{
    padding: 3px 7px;
}
table tr th{
    padding: 5px 7px;
    background-color: #efefef;
}
.go{
    display: inline-block;
    padding: 10px 5px;
    font-size: 14px;
    color: #ffffff;
    background-color: cornflowerblue;
    border-radius: 5px;
}